{% extends "TimeBoxMainBundle:Home:index.html.twig" %}

{% form_theme form _self %}

{# fields_errors.html.twig #}
{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <p class="alert alert-danger" style="padding:5px;">
            {% for error in errors %}
                {{
                    error.messagePluralization is null
                        ? error.messageTemplate|trans(error.messageParameters, 'validators')
                        : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
                }}
            {% endfor %}
            </p>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% trans_default_domain 'FOSUserBundle' %}

{% block registration %}

<div class="registerForm">
    <form action="{{ path('fos_user_registration_register') }}#connection" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
        <div class="form-group">
            {{ form_label(form.username, "Username", { 'label_attr': { 'class': 'sr-only' } }) }}
            {{ form_errors(form.username, { 'attr': {'class': 'alert alert-danger'} }) }}
            {{ form_widget(form.username, { 'attr': {'class': 'form-control', 'placeholder': 'Username'} }) }}
        </div>
        <div class="form-group">
            {{ form_label(form.email, "Email", { 'label_attr': { 'class': 'sr-only' } }) }}
            {{ form_errors(form.email, { 'attr': {'class': 'alert alert-danger'} }) }}
            {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder': 'Email'} }) }}
        </div>
        <div class="form-group">
            {{ form_label(form.plainPassword.first, "Password", { 'label_attr': { 'class': 'sr-only' } }) }}
            {{ form_errors(form.plainPassword.first, { 'attr': {'class': 'alert alert-danger'} }) }}
            {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control', 'placeholder': 'Password'} }) }}
        </div>
        <div class="form-group">
            {{ form_label(form.plainPassword.second, "Verification", { 'label_attr': { 'class': 'sr-only' } }) }}
            {{ form_errors(form.plainPassword.second, { 'attr': {'class': 'alert alert-danger'} }) }}
            {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control', 'placeholder': 'Verification'} }) }}
        </div>
        {{ form_widget(form) }}
        <div class="form-group">
            <input class="btn btn-primary" type="submit" value="{{ 'registration.submit'|trans }}" />
        </div>
    </form>
</div>

{% endblock %}
