<tr class="version">
    <td class="fileCheckbox">
    </td>
    <td colspan="4">
        <ul class="version">
        {% for version in versions %}
            <li {% if loop.first %} class="selected" {% endif %} >
                <table>
                    <tr>
                        <td class="versionId">
                            v{{ version.displayId }}
                        </td>
                        <td class="description">
                            <a href="">{{ version.comment is not null ? version.comment : version.description }}</a>
                        </td>
                        <td class="size">
                            {% if version.size > 1000000  %}
                                {{ version.size // 1000000 + 1 }} mo
                            {% elseif version.size > 1000  %}
                                {{ version.size // 1000 + 1 }} ko
                            {% else %}
                                {{ version.size }} o
                            {% endif %}
                        </td>
                        <td class="lastEdit">
                            {%- if "now"|date("Y/m/d") == version.date|date('Y/m/d') %}
                                {{ version.date|date('H:i') }}
                            {% else %}
                                {{ version.date|date('Y/m/d') }}
                            {% endif -%}
                        </td>
                    </tr>
                </table>
            </li>
        {% endfor %}
        </ul>
    </td>
</tr>
