{% import 'TimeBoxMainBundle:Macro:folderTree.html.twig' as macros %}

<h4>Select the folder to move files</h4>

<form class="move" action="{{ path('time_box_main_file_move') }}" method="post">
    <div class="form-group">
        <ul class="folderTree">
            <li>/</li>
            {% for folder in folders %}
                {% if folder.parent is null and folder.id not in foldersId %}
                    <li data-id="{{ folder.id }}" id="collapseFolder"
                        data-parent=".folderTree">
                        {{- folder.name -}}
                        {% if not folder.children.isEmpty %}
                            <button type="button" class="btn btn-default btn-sm" data-toggle="collapse"
                                data-target=".collapseFolder{{ folder.id }}">+</button>
                        {% endif %}
                    </li>
                    {{ macros.folderTree(folders, foldersId, folder.id, loop.revindex, loop.revindex) }}
                {% endif %}
            {% endfor %}
        </ul>
    </div>

    <input type="hidden" name="moveFolderId" value=""/>
    <input type="hidden" name="filesId" value="{{ filesId }}"/>
    <input type="hidden" name="foldersId" value="{{ foldersId }}"/>
    <input type="hidden" name="currentFolderId" value="{{ folderId }}"/>

    <div class="form-group">
        <input class="btn btn-primary" type="submit" value="Ok"/>
    </div>
</form>

<script type="text/javascript">
    $("ul.folderTree li").click(function() {
        $(this).siblings().removeClass("selected");
        $(this).addClass("selected");
        $("input[name=moveFolderId]").val( $(this).attr('data-id') );
    });
    $("form.move").submit(function() {
        if ($("ul.folderTree li.selected").length != 1) {
            alert("Please select a folder.");
            return false;
        }
    });

    $("[class^=collapseFolder]").on('hide.bs.collapse', function () {
        //TODO: use ".collapse('hide');" on related collapseFolders
    });
</script>