{% import 'TimeBoxMainBundle:Macro:folderTree.html.twig' as macros %}

<form class="move" action="{{ path('time_box_main_file_move') }}" method="post">
    <div class="form-group">
        <div class="folderTree">
            <div>
                <p class="folder">/</p>
            </div>
            {% for folder in folders %}
                {% if folder.parent is null and folder.id not in foldersId %}
                    <div id="collapseFolder"
                        data-parent=".folderTree">
                        <p class="folder" data-id="{{ folder.id }}">
                            <img src="{{ asset('img/icons/folder.png') }}" alt="folder icon" />
                            {{- folder.name -}}
                        </p>
                        {% if not folder.children.isEmpty %}
                            <button type="button" id="collapseButton{{ folder.id }}" class="btn btn-default btn-sm" data-toggle="collapse"
                                data-target=".collapseFolder{{ folder.id }}">+</button>
                        {% endif %}
                        {{ macros.folderTree(folders, foldersId, folder.id, loop.revindex, loop.revindex) }}
                    </div>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

    <input type="hidden" name="moveFolderId" value=""/>
    <input type="hidden" name="filesId" value="{{ filesId }}"/>
    <input type="hidden" name="foldersId" value="{{ foldersId }}"/>
    <input type="hidden" name="currentFolderId" value="{{ folderId }}"/>

    <div class="form-group">
        <input class="btn btn-primary" type="submit" value="Ok"/>
    </div>
</form>

<script type="text/javascript">
    $("div.folderTree p.folder").click(function() {
        $("div.folderTree p.folder").removeClass("selected");
        $(this).addClass("selected");
        $("input[name=moveFolderId]").val( $(this).attr('data-id') );
    });
    $("form.move").submit(function() {
        if ($("div.folderTree p.selected").length != 1) {
            alert("Please select a folder.");
            return false;
        }
    });

    $("[id^=collapseButton]").click(function () {
        if($(this).text() == "+") $(this).text("-");
        else                      $(this).text("+");
    });

    $("[id^=collapseSubfolder]").on('hide.bs.collapse', function () {
        var selectedFolder = $(this).children().filter(".selected");
        if(selectedFolder.length > 0){
            selectedFolder.removeClass("selected");
        }
    });
</script>