{% if app.user.storage + 8000000 > 50000000  %}
    You reached the limit of your storage space, greedy user! Now you are punished, you cannot upload any file until you delete some files (maybe in your Recycle Bin?).
{% else %}
<form class="upload" action="{{ path('time_box_main_file_upload') }}" method="post" {{ form_enctype(form) }}>

    <div class="form-group">
        {{ form_label(form.uploadedFile, "File", { 'label_attr': { 'class': 'sr-only' }} ) }}
        {{ form_errors(form.uploadedFile, { 'attr': {'class': 'alert alert-danger'} }) }}
        {{ form_widget(form.uploadedFile, { 'attr': {'placeholder': 'File', 'required': ''} }) }}
    </div>
    <div class="form-group">
        <label class="sr-only" for="form_name">Comment</label>
        <input id="form_name" class="form-control" type="text" name="name" placeholder="Name" required autofocus />
    </div>
    <div class="form-group">
        {{ form_label(form.comment, "Comment", { 'label_attr': { 'class': 'sr-only' } }) }}
        {{ form_errors(form.comment, { 'attr': {'class': 'alert alert-danger'} }) }}
        {{ form_widget(form.comment, { 'attr': {'class': 'form-control', 'placeholder': 'Comment'} }) }}
    </div>
    <div class="form-group">
        {{ form_widget(form) }}
        <input type="hidden" name="folderId" value="{{ folderId }}" />
        <input class="btn btn-primary" type="submit" value="Upload Media" />
    </div>
</form>
{% endif %}

<script type="text/javascript">
    $("form.upload").submit(function() {

        var uploadFile = $("#form_uploadedFile").val();
        if(uploadFile == "") {
            alert("Please select a file to upload.");
            return false;
        }

        var userStorageSize =  {{ app.user.storage }};
        if ((userStorageSize + $("#form_uploadedFile").files[0].size) > 50000000) {
            alert("You do not have enough storage space left for this file.");
            return false;
        }

        var filename = $("input[name=name]").val();
        var pattern = new RegExp("^[a-zA-Z0-9_\-]+$") ;
        if (!pattern.test(filename)) {
            alert("Error in the file name !");
            return false;
        }

    });
</script>
