{% if app.user.storage + 8000000 > 50000000  %}
    You reached the limit of your storage space, greedy user! Now you are punished, you cannot upload any file until you delete some files (maybe in your Recycle Bin?).
{% else %}
<form class="upload" action="{{ path('time_box_main_file_upload') }}" method="post" {{ form_enctype(form) }}>

    <div class="form-group">
        {{ form_label(form.uploadedFile, "File", { 'label_attr': { 'class': 'sr-only' }} ) }}
        {{ form_errors(form.uploadedFile, { 'attr': {'class': 'alert alert-danger'} }) }}
        {{ form_widget(form.uploadedFile, { 'attr': {'placeholder': 'File', 'required': '', 'autofocus': ''} }) }}
    </div>
    <div class="form-group input-group">
        <input id="form_name" class="form-control" type="text" name="name" placeholder="Name" required disabled />
        <span id="form_name_ext" class="input-group-addon">.extension</span>
        <label class="sr-only" for="form_name">Comment</label>
    </div>
    <div class="form-group">
        {{ form_label(form.comment, "Comment", { 'label_attr': { 'class': 'sr-only' } }) }}
        {{ form_errors(form.comment, { 'attr': {'class': 'alert alert-danger'} }) }}
        {{ form_widget(form.comment, { 'attr': {'class': 'form-control', 'placeholder': 'Comment'} }) }}
    </div>
    <div class="form-group">
        {{ form_widget(form) }}
        <input type="hidden" name="folderId" value="{{ folderId }}" />
        <input class="btn btn-primary" type="submit" value="Upload Media" />
    </div>
</form>
{% endif %}

<script type="text/javascript">
    $("#form_uploadedFile").change(function() {
        if($("#form_uploadedFile").val() == ""){
            $("#form_name").addAttr("disabled");
            $("#form_name_ext").html(".extension");
            return false;
        }

        $("#form_name").removeAttr("disabled");
        var filename = $("#form_uploadedFile").val().replace(/^.*[\\\/]/, '');
        var shortname = filename.replace(/\.[A-z0-9]*$/, '');
        var extension = filename.replace(/^.*\./, '');
        $("#form_name").val(shortname);
        $("#form_name_ext").html("."+extension);
    });

    $("form.upload").submit(function() {

        var uploadFile = $("#form_uploadedFile").val();
        if(uploadFile == "") {
            alert("Please select a file to upload.");
            return false;
        }

        var userStorageSize =  {{ app.user.storage }};
        if ((userStorageSize + $("#form_uploadedFile").files[0].size) > 50000000) {
            alert("You do not have enough storage space left for this file.");
            return false;
        }

        var filename = $("input[name=name]").val();
        var pattern = new RegExp("^[a-zA-Z0-9_\\-\\(\\)]+$");
        if (!pattern.test(filename)) {
            alert("Error in the file name !");
            return false;
        }

    });
</script>
