<header>
    <div class="leftBlock col-md-8">
        {# <img src="{{ asset('img/logo.png') }}" alt="logo" /> #}
    </div>
    <div class="rightBlock header_idbox col-md-4">
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <p class="userInfos">
            <span>{{ app.user.username }}</span>
            <a href="{{ path('fos_user_profile_show') }}">Profile</a>
            <a href="{{ path('fos_user_security_logout') }}">Log out</a>
        </p>
    {% else %}
        {{ render(controller("FOSUserBundle:Security:login")) }}
    {% endif %}
    </div>
</header>
