<header>
    <div class="fLeft">
        <a href="{{ path('time_box_main_homepage') }}"><img src="{{ asset('img/logo.png') }}" class="img-responsive" alt="logo" /></a>
    </div>
    <div class="fRight">
    {% if is_granted("IS_AUTHENTICATED_FULLY") %}
        <div class="userInfos">
            <div class="storage">
                <p>
                {% if app.user.storage > 1000000  %}
                    {{ app.user.storage // 1000000 + 1 }} mo
                {% elseif app.user.storage > 1000  %}
                    {{ app.user.storage // 1000 + 1 }} ko
                {% else %}
                    {{ app.user.storage }} o
                {% endif %}
                     / 50 mo
                </p>
                <div class="bar">
                    <div style="width: {{ ( app.user.storage // 1000000 + 1 ) * 2 }}%;"></div>
                </div>
            </div>
            <span>Logged in as {{ app.user.username }}</span>
            <a class="btn btn-primary" href="{{ path('fos_user_security_logout') }}">Log out</a>
        </div>
    </div>
    {% endif %}
    <div class="clear"></div>
</header>