<div id="menu">
    <ul class="nav nav-tabs nav-justified">
        {% set currentRoute =  app.request.attributes.get('_route') %}
        <li class="{{ currentRoute ==  'time_box_main_file' ? "active" }}">
            <a href="{{ path('time_box_main_file') }}">Files</a>
        </li>
        <li class="{{ currentRoute ==  'time_box_main_file_deleted' ? "active" }}">
            <a href="{{ path('time_box_main_file_deleted') }}">Recycle Bin</a>
        </li>
        <li class="{{ currentRoute ==  'time_box_main_share' ? "active" }}">
            <a href="{{ path('time_box_main_share') }}">Links</a>
        </li>
    </ul>
    <div class="clear"></div>
</div>
