{% extends "TimeBoxMainBundle::layout.html.twig" %}

{% block menu %}
    {% include "TimeBoxMainBundle:Home:menu.html.twig" %}
{% endblock %}

{% block container %}

{% trans_default_domain 'FOSUserBundle' %}

<div class="defaultPadding">
    <h3>Change password</h3>

    <div class="col-xs-6 col-sm-4">
        <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
            <div class="form-group">
                {{ form_label(form.current_password, "Current password", { 'label_attr': { 'class': 'sr-only' } }) }}
                {{ form_errors(form.current_password) }}
                {{ form_widget(form.current_password, { 'attr': {'class': 'form-control', 'placeholder': 'Current password'} }) }}
            </div>
            <div class="form-group">
                {{ form_label(form.plainPassword.first, "Password", { 'label_attr': { 'class': 'sr-only' } }) }}
                {{ form_errors(form.plainPassword.first) }}
                {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control', 'placeholder': 'New password'} }) }}
            </div>
            <div class="form-group">
                {{ form_label(form.plainPassword.second, "Verification", { 'label_attr': { 'class': 'sr-only' } }) }}
                {{ form_errors(form.plainPassword.second) }}
                {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control', 'placeholder': 'Verification'} }) }}
            </div>
            {{ form_widget(form) }}
            <div>
                <input class="btn btn-primary" type="submit" value="{{ 'change_password.submit'|trans }}" />
            </div>
        </form>
    </div>
</div>

{% endblock %}
